<ion-header [translucent]="true">
   <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/">

        </ion-back-button>
      </ion-buttons>
      <ion-title size="large">{{information?.name}}, Event Ticket</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart>
      <div class="cart-length">{{ cartItemCount | async }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-card *ngIf="information">

    <ion-card-header>
      <ion-card-title>
        {{information.name}}
      </ion-card-title>
      <ion-card-subtitle>
        <b>Date:</b> {{information.dates?.start?.localDate}}<br>
        <b>Time:</b> {{information.dates?.start?.localTime}}
      </ion-card-subtitle>
      <ion-card-content text-center>

        <img *ngIf="information.images?.length" [src]="information.images[0].url" class="info-img" style="width: 460px; height: 300px; object-fit: cover; border-radius: 15px; box-shadow: 0 10px 10px rgba(0,0,0,0.2); display: block; margin: 20px auto; "/>
        
        <ion-item lines="none">
          <ion-icon name="reorder-four" slot="start"></ion-icon>
          <ion-label text-wrap>{{information.classifications?.[0]?.segment?.name}}</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          <ion-label>
            {{information._embedded?.venues?.[0]?.name}}<br>
            {{information._embedded?.venues?.[0]?.city.name}},
            {{information._embedded?.venues?.[0]?.country.name}}
          </ion-label>
        </ion-item>

           <ion-item lines="none">
          <ion-icon name="cash-outline" slot="start"></ion-icon>
          <ion-label>
            <strong>Price: </strong> £{{ price }}
          </ion-label>
        </ion-item>

           <ion-button expand="full" (click)="addToCart()">
          Purchase Event Ticket
        </ion-button>



      </ion-card-content>
    </ion-card-header>
  </ion-card>

</ion-content>