.info-img{
    max-height: 30vh;
    object-fit: contain;
    padding: 10px;
}

ion-fab-button {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  margin-top: 20px;
}

.cart-icon {
  font-size: 50px;
}

.cart-length {
  color: var(--ion-color-primary);
  position: absolute;
  top: 18px;
  left: 25px;
  font-weight: 600;
  font-size: 1em;
  min-width: 25px;
  z-index: 10;
}