.info-img {
  max-height: 30vh;
  object-fit: contain;
  padding: 10px;
  width: 460px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

ion-fab-button {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  margin-top: 20px;
}

.cart-icon {
  font-size: 50px;
}

.cart-length {
  color: var(--ion-color-primary);
  position: absolute;
  top: 18px;
  left: 25px;
  font-weight: 600;
  font-size: 1em;
  min-width: 25px;
  z-index: 10;
}

